### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [13]:
total_players = len(purchase_data["SN"].value_counts())
total_player_count = pd.DataFrame({"Total Platers": [total_players]})
total_player_count

   Total Platers
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
# Calculations to obtain variables
number_of_unique_items = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].sum() / len(purchase_data["Price"])
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

# Creation of data frame using variables
summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items], "Average Price": [average_price],
                           "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
summary_df

# Format with style
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [186]:
gender_grouped = purchase_data.groupby("Gender")
total_gender_count = gender_grouped.nunique()["SN"]
percentage_player = (total_gender_count / total_players) * 100

gender_demo_df = pd.DataFrame({"Total Count": total_gender_count,
                               "Percentage of Players" : percentage_player})
                              
gender_demo_df.index.name = None
gender_demo_df.sort_values(["Total Count"], ascending = False)
gender_demo_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [206]:
purchase_count = gender_grouped["Purchase ID"].count()
average_price = gender_grouped["Price"].mean()
total_price = gender_grouped["Price"].sum()
average_per_person = total_price / total_gender_count

purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase Price": average_price,
                                     "Total Purchase Value": total_price, 
                                     "Avg Total Purchase per Person": average_per_person
                                    })

purchase_analysis_df.style.format({"Average Purchase Price": "${:.2f}", 
                                   "Total Purchase Value": "${:.2f}",
                                   "Avg Total Purchase per Person": "${:.2f}"
                                  })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [237]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels= group_names, include_lowest = True)
age_grouped = purchase_data.groupby("Age Ranges")
total_count_age = age_grouped.nunique()["SN"]
percentage_age = (total_count_age / total_players) * 100 
percentage_age

age_demo_df = pd.DataFrame({"Total Count": total_count_age, 
                            "Percentage of Players": percentage_age})

age_demo_df.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [249]:
purchase_count_age = age_grouped["Purchase ID"].count()
average_price_age = age_grouped["Price"].mean()
total_price_age = age_grouped["Price"].sum()
average_total_price_age = total_price_age / total_count_age

purchase_age_df = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                "Average Purchase Price": average_price_age,
                                "Total Purchase Value": total_price_age,
                                "Avg Total Purchase per Person": average_total_price_age})

purchase_age_df.style.format({"Average Purchase Price": "${:.2f}",
                              "Total Purchase Value": "${:.2f}",
                              "Avg Total Purchase per Person": "${:.2f}"
                             })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [273]:
spender_stats = purchase_data.groupby("SN")
purchase_count_spender = spender_stats["Purchase ID"].count()
average_price_spender = spender_stats["Price"].mean()
total_purchase_spender = spender_stats["Price"].sum()

top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spender,
                                "Average Purchase Price": average_price_spender,
                                "Total Purchase Value": total_purchase_spender})

top_spenders_formatted = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders_formatted.style.format({"Average Purchase Price": "${:.2f}",
                              "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [291]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID", "Item Name"])
item_counter = item_stats["Price"].count()
total_price_item = item_stats["Price"].sum()
item_ind_price = total_price_item / item_counter

item_stats_df = pd.DataFrame({"Purchase Count": item_counter,
                              "Item Price": item_ind_price,
                              "Total Purchase Value": total_price_item})

formatted_item_stats_df = item_stats_df.sort_values(["Purchase Count"], ascending= False).head()

formatted_item_stats_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [293]:
most_profitable_df = item_stats_df.sort_values(["Total Purchase Value"], ascending= False).head()
most_profitable_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})